@media only screen and (max-width: 900px) {
    .breakdown_container,
    .map_lines {
        transform: translateX(100px);
    }
}

@media only screen and (max-width: 480px) {
    .breakdown_container,
    .map_lines {
        transform: translateX(350px);
    }
}

.breakdown_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url(https://static.atlasacademy.io/file/aa-fgo-extract-jp/ClassBoard/Bg/bg.png);
    background-size: cover;
    overflow: auto;
    border-radius: 1rem;
}

.breakdown_wrapper[data-type="grand"] {
    background-image: url(https://static.atlasacademy.io/file/aa-fgo-extract-jp/ClassBoard/Bg/GradBG_Star_01.png);
    background-size: 2000px 755px;
}

.breakdown_container {
    position: relative;
    z-index: 2;
}

.square_btn {
    transition: 500ms all;
    position: absolute;
    background: none;
    border: none;
    z-index: 1;

    &:hover {
        transform: scale(1.5);
        cursor: pointer;
    }
}

.earth {
    position: absolute;
    height: 120px;
    top: -45px;
    left: -45px;
    border-radius: 1000%;
    background: url(https://static.atlasacademy.io/file/aa-fgo-extract-jp/ClassBoard/Bg/tex_earth.png);
    background-size: cover;
    box-shadow: inset 0 0 7px black;
    animation: earthrotation linear forwards 60s infinite;
}

@keyframes earthrotation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.grand-base {
    display: block;
    aspect-ratio: 1/1;
    width: 412px;
    position: absolute;
    top: -185px;
    left: -140px;
}

.grand-base.add {
    mask-image: url("https://static.atlasacademy.io/file/aa-fgo-extract-jp/ClassBoard/Bg/GrandClassScore_add_parts_01.png");
    mask-mode: luminance;
    mask-size: cover;
    mix-blend-mode: unset;
}

.grand-base.add2 {
    mask-image: url("https://static.atlasacademy.io/file/aa-fgo-extract-jp/ClassBoard/Bg/GrandClassScore_add.png");
    mask-mode: luminance;
    mask-size: cover;
    mix-blend-mode: unset;
}