.warmap-parent {
    overflow: auto;
}
.warmap-container {
    position: relative;
    width: 1108px;
    overflow: hidden;
    z-index: 0;
}
.warmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.warspot-fig {
    position: absolute;
    z-index: 50;
}
.warspot-img {
    position: absolute;
    height: 80px;
    transform: translate(-45%, -50%);
    z-index: 50;
}
.spot-name {
    display: inline-block;
    position: absolute;
    background-color: rgba(0, 0, 24, 0.8);
    color: #fff;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: center;
    font-size: 0.9em;
    transform: translate(-50%);
    top: 35px;
    border-radius: 30px;
    z-index: 50;
}
.spot-road {
    overflow: hidden;
    position: absolute;
    z-index: 20;
}
#toggle-all-spots {
    margin: 5px 0;
}
