#navigation .icons {
    font-size: 1.5em;
    line-height: 1em;
}

#navigation .icons .flag {
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

#navigation .icons .flag.inactive {
    border: 0;
    opacity: 0.5;
}

#navigation .icons .flag>img {
    height: 20px;
    vertical-align: baseline;
}
