#app {
    margin-bottom: 100px;
}

.text-prewrap {
    white-space: pre-wrap;
}

.text-nowrap {
    white-space: nowrap;
}

.mx-0p5 {
    margin: 0 0.125em;
}

.w-25pct {
    width: 25%;
}

.w-50pct {
    width: 50%;
}

.w-1px {
    width: 1px;
}

.align-middle {
    vertical-align: middle;
}

.underline {
    text-decoration: underline;
}

.flex-row {
    flex-direction: row;
}

.lh-1 {
    line-height: 1em;
}

.lh-1p5 {
    line-height: 1.5em;
}

.lh-2 {
    line-height: 2em;
}

.lh-3 {
    line-height: 3em;
}

.fs-075 {
    font-size: 0.75em;
}

.reset-button-style {
    line-height: 1;
    padding: 0;
    vertical-align: baseline;
}
