.battle-actor-skill-icon {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 40px;
}

.battle-actor-skill-icon.inactive {
    cursor: default;
}

.battle-actor-skill-icon > .icon {
    display: block;
    width: 100%;
}

.battle-actor-skill-icon.inactive > .icon {
    filter: grayscale(100%);
}

.battle-actor-skill-icon > .cooldown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;
    font-weight: bold;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
