ol.faq-list {
    padding-left: 1.5em;
}

ol.faq-toc {
    padding-left: 1em;
}

ol.faq-list > li {
    font-size: 1.75rem;
    font-weight: 500;
}

ol.faq-list > li > ol {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    padding: 0;
    margin-top: 1em;
}

ol.faq-list > li > ol > li {
    margin-bottom: 1em;
}

.faq-link-hover-target .faq-link-icon {
    text-decoration: none;
    color: inherit;
    visibility: hidden;
}

.faq-link-hover-target:hover .faq-link-icon {
    visibility: visible;
}
