#servants .filter {
    cursor: pointer;
    margin: 0 5px;
}

#servants #class-name {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}

#servants #servant-search {
    margin-left: auto;
    margin-bottom: 1rem;
}

#servants #servant-search > form > input {
    width: 100%;
    height: 37;
    text-align: center;
}

#servants #servant-rarity {
    margin-bottom: 1rem;
}

#servants #servant-rarity > .btn-group {
    width: 100%;
}
