.battle-actor-display {

}

.battle-actor-display>.face {
    display: block;
    margin: 0 auto 5px auto;
    width: 150px;
}
.battle-actor-display>.name, .battle-actor-display>.health {
    text-align: center;
}
