.battle-actor-display {
    padding-left: 85px;
    position: relative;
}

.battle-actor-face {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}
.battle-actor-name {
    font-weight: bold;
    text-align: right;
}
.battle-actor-health,
.battle-actor-gauge {
    text-align: right;
}
