.battle-actor-display {

}

.battle-actor-face {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}
.battle-actor-name {
    font-weight: bold;
    text-align: right;
}
.battle-actor-health, .battle-actor-gauge {
    text-align: right;
}
