#mystic-code-portrait-wrapper {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#mystic-code-portrait-wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.mystic-code-portrait {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 80%;
}

.mystic-code-portrait:nth-child(even) {
    left: 40%;
}

.mystic-code-portrait > img {
    display: block;
    object-fit: cover;
    width: 100%;
}
