.servant-bond-table,
.servant-bond-table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.servant-bond-table > tbody > tr > td,
.servant-bond-table > tbody > tr > th {
    min-width: 50%;
}

.servant-bond-table > thead > tr > th > img {
    height: 70%;
    margin-bottom: 3px;
}
.servant-bond-table > tbody > tr > td {
    width: 1%;
}