.servant-bond-table,
.servant-bond-table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.servant-bond-table {
    table-layout: fixed;
}
.servant-bond-table > thead > tr > th > img {
    height: 70%;
}
.servant-bond-table > tbody > tr > td {
    width: 1%;
}