#servant-portrait {
    position: relative;
    margin-bottom: 20px;
}

#servant-portrait > .arrow {
    cursor: pointer;
    height: 10%;
    position: absolute;
    /* padding of bootstrap col class */
    right: -15px;
    transform: translateY(-50%);
    top: 50%;
}

#servant-portrait > .arrow.back {
    left: -15px;
    right: auto;
    transform: scaleX(-1) translateY(-50%);
}

#servant-portrait-image {
    display: block;
    width: 100%;
    height: auto;
}
