.servant-bond-table,
.servant-bond-table td {
    text-align: center;
    vertical-align: middle;
}

.servant-bond-table th {
    white-space: nowrap;
}

.servant-bond-table th img {
    height: 25px;
    margin-bottom: 3px;
}
