#toggle-modal {
    margin: 2.5px 0;
}

#toggle-all {
    position: absolute;
    width: 100px;
    top: 0;
    left: 99%;
    transform: translateX(-100%);
    margin: 0;
    font-size: smaller;
    padding: 1%;
}

#toggle-container {
    padding-top: 5px;
    width: 100%;
    max-height: 200px;
    position: relative;
    overflow: auto;
    margin: 5px 0;
}

div#toggle-container h4 {
    display: none;
}

.toggle-button {
    margin: 2px 2.5px;
}

@media screen and (min-width: 1000px) {
    #toggle-all {
        font-size: medium;
        padding: 4px;
    }

    div#toggle-container h4 {
        display: block;
    }
}
