.card-type {
    display: inline-block;
    height: 1em;
    position: relative;
}

.card-type-ratio {
    height: 100%;
}

.card-type-icon,
.card-type-text {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.card-type-icon {
    /**
        133 / 185
     */
    height: calc(133% / 1.85);
    left: 10%;
    /**
        (185 - 133) / 185 / 2
        52 / 370
     */
    top: calc(52% / 3.7);
}

.card-type-text {
    /**
        73 / 150
     */
    height: calc(73% / 1.5);
    /**
        (150 - 73) / 150 / 2
        77 / 300
     */
    top: calc(77% / 3);
}

.card-type.extra > .card-type-text {
    /**
        100 / 200
     */
    height: 50%;
    /**
        (200 - 100) / 200 / 2
        100 / 400
     */
    top: 25%;
}
