.collapsible-header-collapse-actions {
    font-size: 2em;
    line-height: 1;
    margin-top: 5%;
    transition: transform 0.3s ease;
}

.collapsible-header-rotate-arrow {
    transform: rotate(-180deg);
}

.collapsible-card {
    border-color: transparent;
    margin: 0;
}

.collapsible-header-separator {
    margin: 0;
}

.collapsible-header-tight,
.collapsible-header {
    cursor: pointer;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}

.collapsible-header-tight {
    margin: 0.5em 0;
}

.collapsible-header-arrow {
    text-align: right;
    align-self: center;
    margin-right: 1em;
}

.collapsible-header-title {
    margin-bottom: 0;
}
