.collapsible-header-collapse-actions {
    font-size: 2em;
    line-height: 1em;
    margin-top: 5%;
}

.collapsible-card {
    border-color: transparent !important;
}

.collapsible-header-separator {
    margin-top: 5px;
}

.collapsible-header {
    cursor: pointer;
    margin-bottom: 1%;
}