.command-card {
    display: inline-block;
    height: 1em;
    position: relative;
}

.command-card-ratio {
    height: 100%;
}

.command-card-bg,
.command-card-icon,
.command-card-portrait,
.command-card-text-card,
.command-card-text-np {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.command-card-bg {
    /**
        (170 - 130) / 170 / 2
        40 / 340
    **/
    left: calc(40% / 3.4);
}

.command-card-icon {
    /**
        133 / 185
     */
    height: calc(calc(133% / 1.85) - 10%);
    left: 10%;
    /**
        (185 - 133) / 185
        52 / 185
     */
    top: calc(calc(52% / 1.85) + 20%);
    z-index: 1;
}

.command-card-text-card {
    /**
        73 / 150
     */
    height: calc(calc(73% / 1.5) - 10%);
    left: 10%;
    /**
        (150 - 73) / 150
        77 / 150
     */
    top: calc(calc(77% / 1.5) + 8.5%);
    z-index: 2;
}

.command-card-text-np {
    height: 50%;
    left: 0;
    overflow: hidden;
    top: 50%;
    width: 100%;
    z-index: 2;
}

.command-card-text-np > img {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.command-card-text-np.bottom > img {
    top: -100%;
}
