.data-header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.data-table th {
    white-space: nowrap;
    width: 1px;
    vertical-align: middle;
}

.data-table td {
    text-align: right;
    vertical-align: middle;
}
