.item-icon {
    display: inline-block;
    position: relative;
}

.item-icon-ratio {
    height: 100%;
}

.item-icon-bg,
.item-icon-image,
.item-icon-quantity {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.item-icon-image {
    object-fit: contain;
    height: 70%;
    left: 50%;
    margin-left: -40%;
    margin-top: -35%;
    top: 50%;
    width: 70%;
}

.item-icon-quantity {
    bottom: 5%;
    color: #ffffff;
    font-size: 0.75em;
    left: auto;
    height: 1.5em;
    right: 16%;
    /* From https://owumaro.github.io/text-stroke-generator/ */
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
        rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px,
        rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
        rgb(0, 0, 0) 0.96017px -0.279416px 0px;
    top: auto;
}
