#loading {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

#loading .fou {
    animation: loading-animation 1s steps(4) infinite;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

#loading .fou.f2 {
    visibility: hidden;
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
}
#loading .fou.f3 {
    visibility: hidden;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
#loading .fou.f4 {
    visibility: hidden;
    animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
}

@keyframes loading-animation {
    0% {
        visibility: visible;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

#loading .kon {
    position: absolute;
    left: calc(50% - 22px);
    visibility: hidden;
    animation-duration: 2.5s;
    animation-timing-function: steps(6);
    animation-iteration-count: infinite;
}

#loading .kon.f1 {
    top: 50%;
    visibility: visible;
    transform: rotate(-25deg);
    z-index: 5;
    animation: unset;
}

#loading .kon.f2 {
    animation-name: kon-loading-animation-f2;
    left: calc(50% + 5px - 22px);
    top: calc(50% - 35px);
    transform: rotate(20deg);
    z-index: 4;
}
#loading .kon.f3 {
    animation-name: kon-loading-animation-f3;
    top: calc(50% - 70px);
    transform: rotate(-15deg);
    z-index: 3;
}
#loading .kon.f4 {
    animation-name: kon-loading-animation-f4;
    left: calc(50% + 10px - 22px);
    top: calc(50% - 108px);
    transform: rotate(18deg);
    z-index: 2;
}
#loading .kon.f5 {
    animation-name: kon-loading-animation-f5;
    left: calc(50% - 5px - 22px);
    top: calc(50% - 142px);
    transform: rotate(-15deg);
    z-index: 1;
}

@keyframes kon-loading-animation-f2 {
    16.666667% {
        visibility: visible;
    }
    83.333333% {
        visibility: hidden;
    }
}

@keyframes kon-loading-animation-f3 {
    16.666667% {
        visibility: hidden;
    }
    33.333333% {
        visibility: visible;
    }
    83.333333% {
        visibility: hidden;
    }
}

@keyframes kon-loading-animation-f4 {
    16.666667% {
        visibility: hidden;
    }
    33.333333% {
        visibility: hidden;
    }
    50.000000% {
        visibility: visible;
    }
    83.333333% {
        visibility: hidden;
    }
}

@keyframes kon-loading-animation-f5 {
    16.666667% {
        visibility: hidden;
    }
    33.333333% {
        visibility: hidden;
    }
    50.000000% {
        visibility: hidden;
    }
    66.666667% {
        visibility: visible;
    }
    83.333333% {
        visibility: hidden;
    }
}

#loading .catdog {
    position: absolute;
    top: calc(50% - 128px);
    transform: scale(0.3125);
    visibility: hidden;
    animation-duration: 2.5s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
}
#loading .catdog.f1 {
    visibility: visible;
    left: calc(50% - 128px - 105px);
}
#loading .catdog.f2 {
    left: calc(50% - 128px - 35px);
    animation-name: kon-loading-animation-f2;
}
#loading .catdog.f3 {
    left: calc(50% - 128px + 35px);
    animation-name: kon-loading-animation-f3;
}
#loading .catdog.f4 {
    left: calc(50% - 128px + 105px);
    animation-name: kon-loading-animation-f4;
}

@keyframes catdog-loading-animation-f2 {
    20% {
        visibility: visible;
    }
    80% {
        visibility: hidden;
    }
}

@keyframes catdog-loading-animation-f3 {
    20% {
        visibility: hidden;
    }
    40% {
        visibility: visible;
    }
    80% {
        visibility: hidden;
    }
}

@keyframes catdog-loading-animation-f4 {
    20% {
        visibility: hidden;
    }
    40% {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    80% {
        visibility: hidden;
    }
}
