#navigation {
    z-index: 10;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#navigation .icons {
    font-size: 1.5em;
    line-height: 1;
}

#navigation .icons .flag {
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

#navigation .icons .flag.inactive {
    border: 0;
    opacity: 0.5;
}

#navigation .icons .flag > svg {
    width: 1.25em;
    height: 1em;
}

#navigation .icons > .row {
    flex-flow: nowrap;
    margin: 0 1px;
}

#navigation .icons > .row > .col {
    padding: 0;
}

#navigation .icons > .row > .col > * {
    justify-content: center;
    display: flex;
}
