#navigation {
    z-index: 10;
}

#navigation .icons {
    font-size: 1.5em;
    line-height: 1em;
}

#navigation .icons .flag {
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

#navigation .icons .flag.inactive {
    border: 0;
    opacity: 0.5;
}

#navigation .icons .flag > svg {
    width: 1.25em;
    height: 1em;
}

#navigation .icons > .row {
    flex-flow: nowrap;
    margin: 0 1px;
}

#navigation .icons > .row > .col {
    padding: 0;
}

#navigation .icons > .row > .col > * {
    justify-content: center;
    display: flex;
}

#dropdown-search .dropdown-toggle,
#dropdown-search .dropdown-toggle:hover,
#dropdown-search .dropdown-toggle:focus {
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    background-image: none;
}

#dropdown-search .dropdown-toggle {
    color: rgba(255, 255, 255, 0.5);
}

#dropdown-search .dropdown-toggle:hover,
#dropdown-search .dropdown-toggle:focus {
    color: rgba(255, 255, 255, 0.75);
}
