.scene-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
}

.scene-background {
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.scene-figure-wrapper {
    bottom: 0;
    display: block;
    position: absolute;
    right: 0;
}

.scene-figure {
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.scene-figure-face,
.scene-equip {
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.scene-foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* Types foreground */
.frame {
    background-position: 0 -10px;
}

/* Mobile Fix - Foreground Types */
@media (max-width: 767px) {
    .frame {
        background-position: 0 -7px;
    }
}
