.scriptDialogueText-small {
    position: relative;
    top: -0.125em;
    font-size: 0.75em;
}

.scriptDialogueText-medium {
    /* [f medium] seems to always appear before [messageShake] */
    /* and the text size is the same */
    font-size: 1em;
}

.scriptDialogueText-large {
    font-size: 1.5em;
}

.scriptDialogueText-x-large {
    font-size: 2em;
}

img.dialogueTextImage {
    height: 1.25em;
}

ruby > img.dialogueTextImage {
    margin-top: 1.75em;
}

ruby:nth-of-type(1) > img.dialogueTextImage {
    margin-top: 0.5em;
}

rt.dialogueRuby {
    font-size: 0.7em;
}

rt.dialogueTextImageRuby {
    font-size: 0.75em;
}
