.scriptDialogueText-small {
    position: relative;
    top: -0.125em;
    font-size: 0.75em;
}

.scriptDialogueText-medium {
     /* [f medium] is seems to always appear before [messageShake] */
     /* and the text size is the same */
    font-size: 1em;
}

.scriptDialogueText-large {
    font-size: 1.5em;
}

.scriptDialogueText-x-large {
    font-size: 2em;
}
