.newline {
    white-space: pre-wrap;
}

.nowrap {
    white-space: nowrap;
}

span.e000 {
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: -0.55em;
}

span.e000-bottom {
    transform: scale(1, 0.4);
    display: inline-block;
    padding-top: 0.98em;
}

span.e000-top {
    transform: scale(1, 0.75);
    position: absolute;
    display: block;
    line-height: 1.6;
    top: 0;
}
